.admin {
  height: 100%;
  position: relative;
  background: #eff2f9;
}
.admin-card-wrap {
  margin-left: 22%;
  width: 78%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-top: 5vh;
  padding-bottom: 7vh;
}
.admin-card-wrap {
  text-align: center;
}
.admin-card {
  width: 330px;
  height: 300px;
  text-align: center;
  border: 1px rgb(63, 53, 53) solid;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 50px;
}
.admin-card:hover {
  box-shadow: 5px 5px 4px rgb(206, 201, 201);
  cursor: pointer;
}
.admin-card img {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 30px;
}
.admin-card-btn {
  background-color: inherit;
  color: #7700bb;
  font-family: "Acme", sans-serif;
}

.admin-panel-navbar {
  width: 100%;
  z-index: 99999;
  background-color: #7700bb;
  position: absolute;
  top: 0;
}
.admin-panel-navbar i {
  float: right;
  color: white;
}

@media screen and (max-width: 1150px) {
  .admin-card-wrap {
    margin-left: 0;
    width: 100%;
  }
  .admin-panel-navbar {
    background-color: rgba(255, 239, 213, 0.3);
    display: none;
  }
  .admin-panel-navbar i {
    color: #7700bb;
  }
}
@media screen and (max-width: 740px) {
  .admin-card-wrap {
    grid-template-columns: 1fr;
    text-align: center;
    margin: auto;
  }
  .admin-card {
    margin-left: 0;
    margin-right: 0;
  }
}
