.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  width: 22%;
  height: 100%;
  background-color: blanchedalmond;
  transition: 1s;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.admin-sidebar div {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.admin-sidebar div button {
  margin-bottom: 30px;
  background-color: #7900bf;
  padding: 8px;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 180px;
}

@media screen and (max-width: 1150px) {
  .admin-sidebar {
    width: 250px;
  }
}
