table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 22%;
  width: 78%;
  scrollbar-width: none;
}

.wrap {
  width: 100vw;
  overflow-x: auto;
  scrollbar-width: none;
}
.wrap::-webkit-scrollbar {
  display: none;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.booking {
  background: #eff2f9;
  margin-top: 0;
  padding-bottom: 7vh;
}
.booking h1 {
  color: #7700bb;
  font-family: "Acme", sans-serif;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.professional-form h2 {
  color: #7700bb;
  font-family: "Acme", sans-serif;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
@media screen and (max-width: 1150px) {
  table {
    width: 100%;
    margin-left: 0;
  }
}
