.admin-campaig {
  margin-left: 22%;
  width: 78%;
  height: 100%;
  min-height: 89vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 5vh;
}
.admin-campaig h2 {
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #7900bf;
}
.admin-campaign-form {
  width: 500px;
  /* padding-top: vh; */
  /* margin: auto; */
}
.admin-campaign-form div label {
  text-align: left;
  display: block;
  text-align: left;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
}
.admin-campaign-form div input {
  width: 100%;
  border-radius: 13px;
}
.admin-campaign-file-upload {
  border: 0.5px solid rgba(128, 128, 128, 0.452);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.24);
  width: 100%;
  text-align: center;
  padding: 24px;
  height: 210px;
}
.admin-campaign-file-upload label:hover {
  cursor: pointer;
}
.admin-campaign-file-upload:hover {
  cursor: pointer;
}
.change-label {
  border: 1px solid rgba(1, 4, 41, 0.925);
  width: 110px;
  text-align: center;
  background: #7700bb;
  color: white;
  border-radius: 13px;
  padding: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1150px) {
  .admin-campaig {
    margin: auto;
  }
  .admin-campaign-form {
    margin: auto;
    /* padding-bottom: 10vh; */
  }
}

@media screen and (max-width: 500px) {
  .admin-campaign-form {
    width: 300px;
  }
  .admin-campaign-file-upload {
    width: 300px;
  }
}
