.admin-professional {
  height: 100%;
  background: #eff2f9;
  padding-top: 5vh;
  background: #eff2f9;
  padding-bottom: 10vh;
}

.professional-form {
  width: 500px;
  margin-left: 40%;
  margin-bottom: 10vh;
}
.table-cols {
  display: flex;
  justify-content: space-between;
}

.professional-form label {
  text-align: left;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
}
.professional-form input {
  border-radius: 20px;
  width: 100%;
}
.professional-form h2 {
  color: #7700bb;
  font-family: "Acme", sans-serif;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.professional-form input,
select,
textarea {
  font-size: 20px;
}
.tablur-column {
  overflow-x: auto;
  min-width: 370px;
  scrollbar-width: none;
  text-align: center;
}
.tablur-column-h2 {
  font-family: "Acme", sans-serif;
  color: #7900bf;
  margin-bottom: 60px;
  margin-left: 24%;
  width: 76%;
  text-align: center;
}
.admin-proffesional-modal-form label {
  padding-right: 25px;
}
.admin-proffesional-modal-form input,
select {
  width: 150px;
  border-radius: 15px;
  height: 45px;
  background-color: rgba(241, 234, 234, 0.562);
}
.admin-proffesional-modal-form span {
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 1150px) {
  .professional-form {
    margin: auto;
    padding-bottom: 10vh;
  }
  .tablur-column-h2 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .professional-form {
    width: 300px;
  }
  .admin-proffesional-modal-form input,
  span,
  select {
    display: block;
  }
  .admin-proffesional-modal-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .admin-proffesional-modal-form label {
    padding-bottom: 15px;
  }
  .admin-proffesional-modal-form input,
  select {
    margin-bottom: 10px;
  }
}
