.admin-professional {
  height: 100vh;
  background: #eff2f9;
  padding-top: 5vh;
}

.professional-form {
  width: 500px;
  margin: auto;
  margin-bottom: 10vh;
}
.professional-form label {
  text-align: left;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
}
.professional-form input {
  border-radius: 20px;
  width: 100%;
}
.tablur-column h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: #7900bf;
  margin-bottom: 60px;
}

@media screen and (max-width: 500px) {
  .professional-form {
    width: 300px;
  }
}
