.admin-register {
  margin-left: 0px;
  height: 100%;
  padding-top: 4vh;
}
/* .radio-register {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.admin-register h2 {
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  text-align: center;

  color: #7900bf;
}
.register-form {
  width: 500px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 40%;
  padding-bottom: 5vh;
}
.register-form label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 56px;
  color: #000000;
}
.company-register-form {
  width: 450px;
  margin-left: 40%;
  text-align: center;
  margin-bottom: 30px;
}
.admin-register-form-button {
  margin-top: 0px;
  width: 200px;
  height: 49px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 25px;
  background-color: #eff2f9;
  border-radius: 20px;
  color: #7700bb;
}
.company-register-form h2 {
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  text-align: center;

  color: #7900bf;
}
.company-register-form label {
  text-align: left;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 56px;
  color: #000000;
}

.select-wrapper {
  position: relative;
}

/* .register-form div select {
  -webkit-appearance: none;
  appearance: none;
} */
.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 10px;
  right: 7%;
  position: absolute;
}
@media screen and (max-width: 1150px) {
  .register-form {
    margin: auto;
  }
  .company-register-form {
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .register-form {
    width: 360px;
  }
  .company-register-form {
    width: 340px;
    padding: 20px;
  }
}
