.admin-employer-content {
  background-color: #eff2f9;
  position: relative;
  margin-left: 22%;
  margin-right: 350px;
  padding: 0px;
  padding-bottom: 10vh;
}
.employer-welcome-head {
  margin-right: 350px;
  background-color: white;
  text-align: center;
  margin-left: 0px;
  width: 100%;
}
.employer-welcome-head div {
  margin-top: 50px;
}
.employer-welcome-head div h6 {
  color: gray;
}
.employer-welcome-head div h2 {
  font-family: "Merriweather", serif;
  color: #f89606;
}
.package-card {
  background-color: white;
  width: 250px;
  height: 180px;
  padding-right: 20px;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 20px;
  text-align: center;
}
.package-card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.package-card div h6 {
  color: gray;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.package-card h6 {
  color: #f6a226;
  font-family: serif;
  font-size: 20px;
}
.package-card div img {
  width: 70px;
  height: 70px;
}
.package-card div h6 {
  padding-top: 20px;
  padding-left: 0px;
}
.employer-package-sec {
  margin-right: 3px;
}
.employe-well-being {
  margin-right: 3px;
}
.well-being {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wellbeing-card-title {
  text-align: center;
  font-weight: 400;
}
.wellbeing-card-caption {
  height: 80px;
  border-radius: 20px;
  /* padding-left: 40px; */
  padding-top: 15px;
  color: white;
  max-width: 150px;
}
.employer-wellbeing {
  background-image: url("./images/employee-well-being.png");
  margin-top: 40px;
}
.employer-wellbeing div {
  margin-bottom: 20px;
}

.employer-averages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.employer-redflags {
  background-image: url("./images/employee-well-being.png");
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
.employer-redflags div {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employer-redflags h3 {
  font-family: "Acme", sans-serif;
  color: #7900bf;
  text-align: center;
  margin-bottom: 40px;
}
.employer-session {
  position: relative;
  background-image: url("./images/employee-well-being.png");
  margin-top: 60px;
  padding-bottom: 80px;
}
.session-card-wrap {
  margin-top: 100px;
}

.employer-session h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: #7900bf;
  padding-top: 130px;
  padding-right: 0px;
  padding-left: 60px;
}

.employer-session-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
}

.employer-session-img-wrap {
  position: relative;
  margin-bottom: 20px;
  float: right;
  width: 350px;
  height: 226.95px;
}
/* jasnsjnsdj */
.employer-workshop {
  position: relative;
  background-image: url("./images/employee-well-being.png");
  margin-top: 100px;
  padding-bottom: 80px;
}
.employer-workshop h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: #7900bf;
  padding-left: 60px;
  padding-top: 130px;
}
.employer-workshop-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
}
.employer-workshop-img-wrap {
  position: relative;
  margin-bottom: 20px;
  float: right;
  width: 350px;
  height: 226.95px;
}
/* SJSNDNsdn */
.session-chart {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-chart h6 {
  color: gray;
  font-size: 14px;
  text-align: center;
}
.session-card {
  background-color: #fffaf2;
  border-radius: 20px;
  text-align: center;
  width: 200px;
  margin-left: 70px;
  margin-bottom: 30px;

  padding-top: 20px;
}
.session-review {
  height: 170px;
  margin-top: 30px;
  text-align: center;
}
.review-text p {
  margin-top: 30px;
}
.session-review-stars {
  background-color: #bd70e9;
  height: 180px;
  text-align: center;
  border-radius: 20px;
  margin-right: 30px;
  margin-left: 20px;
}
.session-review-stars h6 {
  padding-top: 30px;
  margin-bottom: 30px;
}
.employer-reports {
  position: relative;
  background-image: url("./images/employee-well-being.png");
  margin-top: 100px;
  text-align: center;
}
.employer-reports form div select {
  width: 200px;
  background-color: #fffaf2;
  margin-bottom: 30px;
}
.employer-reports h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: #7900bf;
  margin-bottom: 60px;
}
.employer-campaign h2 {
  font-family: "Acme", sans-serif;
  color: #7900bf;
  text-align: center;
  margin-bottom: 40px;
}
.admin-chart-input {
  /* margin-right: 400px; */
}
.admin-chart-input div label {
  display: block;
  float: left;
  /* width: 100%; */
}
.admin-chart-input div input {
  width: 90px;
  display: block;
}

@media screen and (max-width: 500px) {
  .employer-session {
    margin-bottom: 50px;
    display: block;
  }
  .employer-workshop {
    margin-top: 250px;
  }
  .session-review-stars {
    margin-right: 0;
  }
  .employer-reports {
    margin-top: 250px;
    text-align: center;
  }
  .employer-reports form div label {
    display: block;
    font-weight: 500;
  }
  .well-being {
    display: flex;
    flex-direction: row;
  }
  .wellbeing-card-caption {
    padding-bottom: 20px;
  }
  .employer-session h2 {
    float: none;
    padding-right: 0;
    padding-top: 250px;
    padding-left: 0;
  }
  .em .employer-workshop h2 {
    float: none;
    padding-right: 0;
    padding-top: 250px;
    padding-left: 0;
  }
  .session-card-wrap {
    margin-top: 50px;
  }
}
