.employee-left-side-bar {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 250px;
  background-image: url("./images/left-side-bar.png");
  background-size: 100% 100%;
  top: 0;
  left: 0;
  padding: 20px;
}
.employee-left-side-bar-logo {
  width: 140px;
  height: 152px;
  align-self: center;
  margin-bottom: 50px;
}
.employee-left-side-bar div h6 {
  color: #7700bb;
  font-weight: bolder;
}
.employee-left-side-bar div ul li {
  color: rgb(61, 58, 58);
  font-weight: 500;
  font-size: 13px;
}
/* Right side bar css */

.employee-right-side-bar {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-image: url("./images/right-side-bar.png");
  background-size: 100% 100%;
  top: 0;
  right: 0;
  padding: 20px;
}
.employee-right-side-bar-logo {
  width: 50px;
  height: 62px;
  align-self: center;
}
.employee-right-side-bar form {
  margin-bottom: 10vh;
}
.employee-right-side-bar h2 {
  font-family: "Caveat", cursive;
  color: #7700bb;
  text-align: center;
}

.employee-right-side-bar form div input,
select,
textarea {
  margin-bottom: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(241, 234, 234);
}
.employee-right-side-bar form div label {
  display: block;
  margin-top: 5px;
}

.sidebar-form-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sidebar-form-btn button {
  background-color: #7700bb;
  color: white;
  font-size: 15px;
  padding: 10px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.employee-right-side-bar-calendar {
  position: relative;
  width: 200px;
  height: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 70px;
  margin-left: 30px;
}
.employee-right-side-bar-calendar abbr {
  font-size: 10px;
  text-decoration: none;
}
.employee-right-side-bar-calendar button {
  background-color: white;
  outline: none;
  border: none;
  font-size: 10px;
  padding: 0;
  padding-left: 5px;
  padding-bottom: 8px;
  font-weight: 500;
}

/* mob view */
.mob-employee-left-side-bar-logo {
  text-align: center;
  display: flex;
  margin: auto;
}
.mob-employee-left-side-bar {
  margin-top: 20px;
}
.mob-employee-left-side-bar div h6 {
  color: #7700bb;
  font-size: 20px;
}
.mob-employee-right-side-bar h2 {
  font-family: "Caveat", cursive;
  color: #7700bb;
  text-align: center;
}
.mob-employee-right-side-bar form div label {
  display: block;
}
.mob-employee-right-side-bar form div select,
input {
  margin-bottom: 30px;
}
.mob-employee-right-side-bar form div input {
  margin-bottom: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(241, 234, 234);
}
.mob-employee-right-side-bar-inputs div {
  margin-bottom: 40px;
  padding-left: 20px;
}
.mob-employee-right-side-bar-inputs div label {
  display: block;
}

.mob-employee-right-side-bar-calendar {
  position: relative;
  width: 270px;
  height: 170px;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 70px;
  margin-left: 30px;
}
.mob-employee-right-side-bar-calendar abbr {
  font-size: 10px;
  text-decoration: none;
}
.mob-employee-right-side-bar-calendar button {
  background-color: white;
  outline: none;
  border: none;
  font-size: 10px;
  padding: 0;
  padding-left: 5px;
  padding-bottom: 8px;
  font-weight: 500;
}
