.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 20px; */
  height: 100vh;
}

.background-img {
  width: 100%;
  height: 100vh;
  padding: 0;
}
.login-left-sec {
  position: relative;
  width: 65%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.login-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: */
}
.login-form {
  margin-left: 90px;
  /* margin-top: 10%; */
  width: 21%;
  text-align: center;
}
.login-form h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #7900bf;
}
.login-form div {
  padding: 0px;
  margin-bottom: 0px;
  text-align: left;
}
.login-form div label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 56px;
  color: #000000;
}
.login-form-text {
  display: inline-block;
  border: 1px solid black;
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.login-form-password {
  display: inline-block;
  border: 1px solid black;
  width: 70%;
  height: 40px;
  border-radius: 15px;
}
.login-form div i:hover {
  cursor: pointer;
}
.login-form-btn {
  width: 150px;
  height: 59px;
  background: #7700bb;
  font-family: Open Sans;

  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
}

@media screen and (max-width: 1000px) {
  .login {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .login-form {
    width: 100%;
    margin-left: 0px;
    padding-left: 40px;
    text-align: center;
    margin: 0;
  }
  .login-form div {
    text-align: center;
  }
  .login-form div label {
    display: inline-block;
  }
  .login-left-sec {
    width: 100%;
  }
  .login-form-text {
    width: 50%;
  }
  .login-form-password {
    width: 40%;
  }
  .background-img {
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .login {
    padding-bottom: 5vh;
  }
  .login-form-text {
    width: 100%;
  }
  .login-form div label {
    display: block;
  }
  .login-form div {
    text-align: left;
  }
  .login-form-password {
    width: 70%;
  }
  .login-logo {
    top: 50%;
    left: 30%;
    width: 100px;
    height: 100px;
  }
}
