#login {
  color: black;
  background-image: url("./backgorund.png");
  background-size: 100% 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 10vh;
}
#login h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  margin-top: 30px;
  color: #7900bf;
}
.login-logo {
  position: absolute;
  width: 140px;
  height: 152px;
  left: 51px;
  top: 10px;
}

.login-nav-btn {
  position: absolute;
  width: 30%;
  height: 59px;
  right: 70px;
  top: 53px;
  background: #7700bb;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
}

.login-nav-btn:hover {
  cursor: pointer;
}

.login-form-btn {
  width: 150px;
  height: 59px;
  background: #7700bb;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
}
.login-carousel {
  position: relative;
}

.row {
  width: 100%;
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 10px;
}
.login-form div {
  padding: 0px;
  margin-bottom: 15px;
}
.login-form div label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 56px;
  color: #000000;
}
.login-form-text {
  display: block;
  border: 1px solid black;
  width: 400px;
  height: 40px;
  border-radius: 15px;
}

.login-form-password {
  display: inline-block;
  border: 1px solid black;
  width: 360px;
  height: 40px;
  border-radius: 15px;
}
.login-form div i:hover {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .login-nav-btn {
    right: 0px;
    font-size: 1.3rem;
  }
  .login-logo {
    left: 0;
  }
}

@media screen and (max-width: 550px) {
  .login-nav-btn {
    font-size: 0.9rem;
  }
  #login h2 {
    font-size: 28px;
  }
  .login-form div {
    padding: 15px;
  }
  .login-form div label {
    font-size: 20px;
  }
  .login-form-text {
    width: 280px;
  }
  .login-form-password {
    width: 260px;
  }
}
