.employer-content {
  background-color: #eff2f9;
  position: relative;
  margin-left: 250px;
  margin-right: 350px;
  padding: 30px;
}
.employer-welcome-head {
  margin-right: 350px;
  background-color: white;
}
.employer-welcome-head div {
  margin-top: 50px;
}
.employer-welcome-head div h6 {
  color: gray;
}
.employer-welcome-head div h2 {
  font-family: "Merriweather", serif;
  color: #f89606;
}
.package-card {
  background-color: white;
  width: 270px;
  height: 180px;
  padding-right: 20px;
  padding-top: 30px;
  padding-left: 20px;
  margin: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  text-align: center;
}
.package-card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.package-card div h6 {
  color: gray;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.package-card h6 {
  color: #f6a226;
  font-family: serif;
  font-size: 20px;
}
.package-card div img {
  width: 70px;
  height: 70px;
}
.package-card div h6 {
  padding-top: 20px;
  padding-left: 0px;
}
.employer-package-sec {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
.wellbeing-card-title {
  text-align: center;
  font-weight: 400;
}
.wellbeing-card-caption {
  height: 80px;
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 15px;
  color: white;
}
.employer-wellbeing {
  background-image: url("./images/employee-well-being.png");
}
.employer-wellbeing div {
  margin-bottom: 20px;
}
.employer-redflags {
  background-image: url("./images/employee-well-being.png");
  margin-top: 40px;
}
.employer-redflags h3 {
  font-family: "Acme", sans-serif;
  color: #7900bf;
  text-align: center;
  margin-bottom: 40px;
}
.employer-session {
  position: relative;
  background-image: url("./images/employee-well-being.png");
  margin-top: 60px;
}
.employer-session h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: #7900bf;
}
.employer-session-img {
  float: right;
  width: 300px;
}
.employer-session-img-wrap {
  position: relative;
  margin-bottom: 20px;
}
.session-chart {
  text-align: center;
  margin-top: 50px;
}

.session-chart h6 {
  color: gray;
  font-size: 14px;
  text-align: center;
}
.session-card {
  background-color: #fffaf2;
  border-radius: 20px;
  text-align: center;
  width: 200px;
  margin-left: 30px;
  padding-top: 20px;
}
.session-review {
  height: 170px;
}
.session-review-stars {
  background-color: #bd70e9;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  margin-right: 30px;
  margin-left: 20px;
}
.session-review-stars h6 {
  padding-top: 30px;
  margin-bottom: 30px;
}
.employer-reports {
  position: relative;
  background-image: url("./images/employee-well-being.png");
  margin-top: 60px;
}
.employer-reports div select {
  width: 200px;
  background-color: #fffaf2;
}
.employer-reports h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: #7900bf;
  margin-bottom: 60px;
}
