img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  color: white;
  text-decoration: none;
}
textarea {
  resize: none;
}
